<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td> <button [routerLink]="['/blog', post.id]" class="btn btn-danger" name='{{ post.id }}' (click)="delPost(post.id)" >Delete</button> </td>
            <td> <button [routerLink]="['/editPost']" class="btn btn-warning" name='{{ post.id }}' (click)="editPost(post)" >Edit</button> </td>
            <td> <button [routerLink]="['/details', post.id]" class="btn btn-info" name='{{ post.id }}' (click)="detailsOfPost(post)" >Details</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
